In [2]:
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import collections
import pandas as pd
import math
from numpy import dot
from numpy.linalg import norm
import os

In [3]:
path = "D:\\Programming\\4th year\\1st Term\\IR (Information Storage and Retrieval)\\IR project\DocumentCollection"
docs = {}
for i in range(1,11):
  f = open(path + '\\' + str(i) + ".txt" , "r")
  docs[i] = f.read().lower()
docs

{1: 'antony brutus caeser cleopatra mercy worser',
 2: 'antony brutus caeser calpurnia ',
 3: 'mercy worser',
 4: 'brutus caeser mercy worser',
 5: 'caeser mercy worser',
 6: 'antony caeser mercy ',
 7: 'angels fools fear in rush to tread where',
 8: 'angels fools fear in rush to tread where',
 9: 'angels fools in rush to tread where',
 10: 'fools fear in rush to tread where'}

In [4]:
toknization = {}
for i in docs:
  toknization[i] = word_tokenize(docs[i].lower())
toknization

{1: ['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser'],
 2: ['antony', 'brutus', 'caeser', 'calpurnia'],
 3: ['mercy', 'worser'],
 4: ['brutus', 'caeser', 'mercy', 'worser'],
 5: ['caeser', 'mercy', 'worser'],
 6: ['antony', 'caeser', 'mercy'],
 7: ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 8: ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'],
 9: ['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where'],
 10: ['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']}

In [5]:
stop_words = set(stopwords.words('english'))
stop_words.remove("in")
stop_words.remove("to")
stop_words.remove("where")

filtered_Sent = collections.defaultdict(lambda : [])

for i in toknization:
  for w in toknization[i]: 
    if w not in stop_words:
      filtered_Sent[i].append(w)

for i in filtered_Sent:
  print(i,filtered_Sent[i])

1 ['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser']
2 ['antony', 'brutus', 'caeser', 'calpurnia']
3 ['mercy', 'worser']
4 ['brutus', 'caeser', 'mercy', 'worser']
5 ['caeser', 'mercy', 'worser']
6 ['antony', 'caeser', 'mercy']
7 ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
8 ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']
9 ['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where']
10 ['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']

In [6]:
words = []
for i in filtered_Sent:
  for w in filtered_Sent[i]:
    words.append(w)


uniqe_words = list(set(words))
uniqe_words.sort()
print(len(uniqe_words))
print(uniqe_words)

15
['angels', 'antony', 'brutus', 'caeser', 'calpurnia', 'cleopatra', 'fear', 'fools', 'in', 'mercy', 'rush', 'to', 'tread', 'where', 'worser']

In [25]:
pos_index = collections.defaultdict(lambda : [0,{}])
for w in uniqe_words:
  for doc in toknization:
    if w in toknization[doc]:
      pos_index[w][0] += 1
      pos_index[w][1][doc] = []

        
print(pos_index)        

for un_W in pos_index:
  for doc in toknization: #doc = [asdf,asdfas,dfasdf,asdf,sadf]
    if un_W in toknization[doc]:
      counter = 0
      while (counter < len(toknization[doc])):
        if un_W == toknization[doc][counter]:
          pos_index[un_W][1][doc].append(counter+1)
        counter+=1

#for w in pos_index:
#  print(w,pos_index[w])
#print("***********************************")
#for w in toknization:
#  print(w,toknization[w])
pos_index

defaultdict(<function <lambda> at 0x0000022338FF7940>, {'angels': [3, {7: [], 8: [], 9: []}], 'antony': [3, {1: [], 2: [], 6: []}], 'brutus': [3, {1: [], 2: [], 4: []}], 'caeser': [5, {1: [], 2: [], 4: [], 5: [], 6: []}], 'calpurnia': [1, {2: []}], 'cleopatra': [1, {1: []}], 'fear': [3, {7: [], 8: [], 10: []}], 'fools': [4, {7: [], 8: [], 9: [], 10: []}], 'in': [4, {7: [], 8: [], 9: [], 10: []}], 'mercy': [5, {1: [], 3: [], 4: [], 5: [], 6: []}], 'rush': [4, {7: [], 8: [], 9: [], 10: []}], 'to': [4, {7: [], 8: [], 9: [], 10: []}], 'tread': [4, {7: [], 8: [], 9: [], 10: []}], 'where': [4, {7: [], 8: [], 9: [], 10: []}], 'worser': [4, {1: [], 3: [], 4: [], 5: []}]})

defaultdict(<function __main__.<lambda>()>,
            {'angels': [3, {7: [1], 8: [1], 9: [1]}],
             'antony': [3, {1: [1], 2: [1], 6: [1]}],
             'brutus': [3, {1: [2], 2: [2], 4: [1]}],
             'caeser': [5, {1: [3], 2: [3], 4: [2], 5: [1], 6: [2]}],
             'calpurnia': [1, {2: [4]}],
             'cleopatra': [1, {1: [4]}],
             'fear': [3, {7: [3], 8: [3], 10: [2]}],
             'fools': [4, {7: [2], 8: [2], 9: [2], 10: [1]}],
             'in': [4, {7: [4], 8: [4], 9: [3], 10: [3]}],
             'mercy': [5, {1: [5], 3: [1], 4: [3], 5: [2], 6: [3]}],
             'rush': [4, {7: [5], 8: [5], 9: [4], 10: [4]}],
             'to': [4, {7: [6], 8: [6], 9: [5], 10: [5]}],
             'tread': [4, {7: [7], 8: [7], 9: [6], 10: [6]}],
             'where': [4, {7: [8], 8: [8], 9: [7], 10: [7]}],
             'worser': [4, {1: [6], 3: [2], 4: [4], 5: [3]}]})

In [8]:
pos_index_table = pd.DataFrame(pos_index.values(),columns=["Doc_freq", "Pos_index"] , index=pos_index)
pos_index_table

           Doc_freq                                 Pos_index
angels            3                  {7: [1], 8: [1], 9: [1]}
antony            3                  {1: [1], 2: [1], 6: [1]}
brutus            3                  {1: [2], 2: [2], 4: [1]}
caeser            5  {1: [3], 2: [3], 4: [2], 5: [1], 6: [2]}
calpurnia         1                                  {2: [4]}
cleopatra         1                                  {1: [4]}
fear              3                 {7: [3], 8: [3], 10: [2]}
fools             4         {7: [2], 8: [2], 9: [2], 10: [1]}
in                4         {7: [4], 8: [4], 9: [3], 10: [3]}
mercy             5  {1: [5], 3: [1], 4: [3], 5: [2], 6: [3]}
rush              4         {7: [5], 8: [5], 9: [4], 10: [4]}
to                4         {7: [6], 8: [6], 9: [5], 10: [5]}
tread             4         {7: [7], 8: [7], 9: [6], 10: [6]}
where             4         {7: [8], 8: [8], 9: [7], 10: [7]}
worser            4          {1: [6], 3: [2], 4: [4], 5: [3]}

In [9]:
w = "antony"
d = 1
def Compute_TF(word,docID):
    if docID not in list(pos_index[word][1]):
      return 0
    else:
      return len(pos_index[word][1][docID])

In [10]:
term_freq_arr = []

for word in pos_index:
  term_freq_each_term = []
  for docID in docs:     
    term_freq_each_term.append(Compute_TF(word,docID))
  term_freq_arr.append(term_freq_each_term)

term_freq_arr

[[0, 0, 0, 0, 0, 0, 1, 1, 1, 0],
 [1, 1, 0, 0, 0, 1, 0, 0, 0, 0],
 [1, 1, 0, 1, 0, 0, 0, 0, 0, 0],
 [1, 1, 0, 1, 1, 1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 1, 0, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [1, 0, 1, 1, 1, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
 [1, 0, 1, 1, 1, 0, 0, 0, 0, 0]]

In [11]:
term_frequency_table = pd.DataFrame(term_freq_arr,columns=docs.keys() , index=uniqe_words)
term_frequency_table

           1   2   3   4   5   6   7   8   9   10
angels      0   0   0   0   0   0   1   1   1   0
antony      1   1   0   0   0   1   0   0   0   0
brutus      1   1   0   1   0   0   0   0   0   0
caeser      1   1   0   1   1   1   0   0   0   0
calpurnia   0   1   0   0   0   0   0   0   0   0
cleopatra   1   0   0   0   0   0   0   0   0   0
fear        0   0   0   0   0   0   1   1   0   1
fools       0   0   0   0   0   0   1   1   1   1
in          0   0   0   0   0   0   1   1   1   1
mercy       1   0   1   1   1   1   0   0   0   0
rush        0   0   0   0   0   0   1   1   1   1
to          0   0   0   0   0   0   1   1   1   1
tread       0   0   0   0   0   0   1   1   1   1
where       0   0   0   0   0   0   1   1   1   1
worser      1   0   1   1   1   0   0   0   0   0

In [12]:
def Compute_WeTF(word,docID):
    wtfreq = Compute_TF(word,docID)
    if (wtfreq > 0):
        return (1 + math.log(wtfreq,10))
    elif (wtfreq == 0):
        return 0

In [13]:
weighted_term_freq_arr = []

for word in pos_index:
    weighted_term_freq_arr_each_tem = []
    for docID in docs:     
        weighted_term_freq_arr_each_tem.append(Compute_WeTF(word,docID))
    weighted_term_freq_arr.append(weighted_term_freq_arr_each_tem)

weighted_term_freq_arr

[[0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 0],
 [1.0, 1.0, 0, 0, 0, 1.0, 0, 0, 0, 0],
 [1.0, 1.0, 0, 1.0, 0, 0, 0, 0, 0, 0],
 [1.0, 1.0, 0, 1.0, 1.0, 1.0, 0, 0, 0, 0],
 [0, 1.0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1.0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 0, 1.0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [1.0, 0, 1.0, 1.0, 1.0, 1.0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [0, 0, 0, 0, 0, 0, 1.0, 1.0, 1.0, 1.0],
 [1.0, 0, 1.0, 1.0, 1.0, 0, 0, 0, 0, 0]]

In [14]:
weighted_term_freq_arr_table = pd.DataFrame(weighted_term_freq_arr,columns=docs , index=uniqe_words)
weighted_term_freq_arr_table

            1    2    3    4    5    6    7    8    9    10
angels     0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0
antony     1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
brutus     1.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
caeser     1.0  1.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
calpurnia  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
cleopatra  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
fear       0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0
fools      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
in         0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
mercy      1.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
rush       0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
to         0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
tread      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
where      0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
worser     1.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0

In [15]:
word = "antony"

def Compute_IDF(word):
  return math.log((len(docs)) / len(pos_index[word][1]),10)

Compute_IDF(word)

0.5228787452803376

In [16]:
0.522878745 /0.739462213

0.707106780857239

In [17]:
IDF_matrix = {}
for word in pos_index:
  row = []
  row.append(pos_index[word][0])
  row.append(Compute_IDF(word))
  IDF_matrix[word] = row


IDF_matrix_table = pd.DataFrame(IDF_matrix.values(),columns=["Doc_freq" , "IDF"] , index=uniqe_words)
IDF_matrix_table

           Doc_freq       IDF
angels            3  0.522879
antony            3  0.522879
brutus            3  0.522879
caeser            5  0.301030
calpurnia         1  1.000000
cleopatra         1  1.000000
fear              3  0.522879
fools             4  0.397940
in                4  0.397940
mercy             5  0.301030
rush              4  0.397940
to                4  0.397940
tread             4  0.397940
where             4  0.397940
worser            4  0.397940

In [18]:
def Compute_TF_IDF(word,docID):
    return Compute_IDF(word)*Compute_WeTF(word,docID)

In [19]:
TF_IDF_matrix = []
for word in pos_index:
    TF_IDF_each_term = []
    for docID in docs:     
        TF_IDF_each_term.append(Compute_TF_IDF(word,docID))
    TF_IDF_matrix.append(TF_IDF_each_term)

TF_IDF_matrix_table = pd.DataFrame(TF_IDF_matrix,columns=docs , index=uniqe_words)
TF_IDF_matrix_table

,1,2,3,4,5,6,7,8,9,10
angels,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.522879,0.000000
antony,0.522879,0.522879,0.00000,0.000000,0.00000,0.522879,0.000000,0.000000,0.000000,0.000000
brutus,0.522879,0.522879,0.00000,0.522879,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
caeser,0.301030,0.301030,0.00000,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,1.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
cleopatra,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
fear,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.522879,0.522879,0.000000,0.522879
fools,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
in,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
mercy,0.301030,0.000000,0.30103,0.301030,0.30103,0.301030,0.000000,0.000000,0.000000,0.000000
rush,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
to,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
tread,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
where,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.397940,0.397940,0.397940,0.397940
worser,0.397940,0.000000,0.39794,0.397940,0.39794,0.000000,0.000000,0.000000,0.000000,0.000000

In [20]:
length = {}
for docID in filtered_Sent:
    TF_IDF_sum = 0
    for word in filtered_Sent[docID]:
        TF_IDF_sum += math.pow(Compute_TF_IDF(word,docID),2)
    length[docID] = math.sqrt(TF_IDF_sum)

    
length_table = pd.DataFrame(length.values(),columns=["Length"] , index=filtered_Sent)
length_table

      Length
1   1.373462
2   1.279618
3   0.498974
4   0.782941
5   0.582747
6   0.674270
7   1.223496
8   1.223496
9   1.106137
10  1.106137

In [21]:
NORM_TF_IDF_matrix = []
for word in pos_index:
    TF_IDF_each_term = []
    for docID in docs:     
        TF_IDF_each_term.append(Compute_TF_IDF(word,docID)/length[docID])
    NORM_TF_IDF_matrix.append(TF_IDF_each_term)

NORM_TF_IDF_matrix_table = pd.DataFrame(NORM_TF_IDF_matrix,columns=docs, index=uniqe_words)
NORM_TF_IDF_matrix_table

,1,2,3,4,5,6,7,8,9,10
angels,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.472707,0.000000
antony,0.380701,0.408621,0.000000,0.000000,0.000000,0.775474,0.000000,0.000000,0.000000,0.000000
brutus,0.380701,0.408621,0.000000,0.667839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
caeser,0.219176,0.235250,0.000000,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
cleopatra,0.728087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
fear,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.000000,0.472707
fools,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
in,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
mercy,0.219176,0.000000,0.603298,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
rush,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
to,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
tread,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
where,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
worser,0.289735,0.000000,0.797516,0.508263,0.682869,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
pos_index

defaultdict(<function __main__.<lambda>()>,
            {'angels': [3, {7: [1], 8: [1], 9: [1]}],
             'antony': [3, {1: [1], 2: [1], 6: [1]}],
             'brutus': [3, {1: [2], 2: [2], 4: [1]}],
             'caeser': [5, {1: [3], 2: [3], 4: [2], 5: [1], 6: [2]}],
             'calpurnia': [1, {2: [4]}],
             'cleopatra': [1, {1: [4]}],
             'fear': [3, {7: [3], 8: [3], 10: [2]}],
             'fools': [4, {7: [2], 8: [2], 9: [2], 10: [1]}],
             'in': [4, {7: [4], 8: [4], 9: [3], 10: [3]}],
             'mercy': [5, {1: [5], 3: [1], 4: [3], 5: [2], 6: [3]}],
             'rush': [4, {7: [5], 8: [5], 9: [4], 10: [4]}],
             'to': [4, {7: [6], 8: [6], 9: [5], 10: [5]}],
             'tread': [4, {7: [7], 8: [7], 9: [6], 10: [6]}],
             'where': [4, {7: [8], 8: [8], 9: [7], 10: [7]}],
             'worser': [4, {1: [6], 3: [2], 4: [4], 5: [3]}]})

In [24]:
sent = "antony brutus"

def get_mathched_docs(sent):
    tokenized_sent = word_tokenize(sent.lower()) 
    # check if all words in our docs or not
    notfound = False
    for item in tokenized_sent:
        if item not in pos_index:
            notfound = True
            break
    if(notfound):
        return 0
    #check if all words in same doc or not
    commen_docs = set(list(pos_index[tokenized_sent[0]][1]))
    for item in tokenized_sent:
        item_set = set(list(pos_index[item][1]))
        commen_docs = commen_docs.intersection(item_set)
    if(len(commen_docs) == 0):
        return 0
    commen_docs = list(commen_docs)
       
    matched_docs = []
    
    orders = {}
    for doc in commen_docs:
        postions = []
        for word in tokenized_sent:
            for postion in pos_index[word][1][doc]:
                postions.append(postion)
        orders[doc] = postions  
    
    
    for id in orders:
        if (orders[id] == list(range(min(orders[id]),max(orders[id])+1))):
            matched_docs.append(id)
    
    if(matched_docs == 0):
        return 0
    
    return matched_docs
    
    
get_mathched_docs(sent)

{1, 2, 6}

[1, 2]

In [43]:
x = [1,2,3,4,5,6]
y = list(range(min(x),max(x)+1))

print(x == y)

True

In [44]:
list(range(min(x),max(x)))

[1, 2, 3, 4, 5]

In [45]:
vector_form_for_docs = {}
for id in docs:
    vector = []
    for term in NORM_TF_IDF_matrix:
        vector.append(term[id-1])
    vector_form_for_docs[id] = vector

vector_form_for_docs
vector_form_for_docs_table = pd.DataFrame(vector_form_for_docs.values(),columns=uniqe_words , index=docs)
vector_form_for_docs_table

,angels,antony,brutus,caeser,calpurnia,cleopatra,fear,fools,in,mercy,rush,to,tread,where,worser
1,0.000000,0.380701,0.380701,0.219176,0.000000,0.728087,0.000000,0.000000,0.000000,0.219176,0.000000,0.000000,0.000000,0.000000,0.289735
2,0.000000,0.408621,0.408621,0.235250,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.603298,0.000000,0.000000,0.000000,0.000000,0.797516
4,0.000000,0.000000,0.667839,0.384486,0.000000,0.000000,0.000000,0.000000,0.000000,0.384486,0.000000,0.000000,0.000000,0.000000,0.508263
5,0.000000,0.000000,0.000000,0.516570,0.000000,0.000000,0.000000,0.000000,0.000000,0.516570,0.000000,0.000000,0.000000,0.000000,0.682869
6,0.000000,0.775474,0.000000,0.446453,0.000000,0.000000,0.000000,0.000000,0.000000,0.446453,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.427365,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.325248,0.325248,0.000000,0.325248,0.325248,0.325248,0.325248,0.000000
8,0.427365,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.325248,0.325248,0.000000,0.325248,0.325248,0.325248,0.325248,0.000000
9,0.472707,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.359756,0.359756,0.000000,0.359756,0.359756,0.359756,0.359756,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.472707,0.359756,0.359756,0.000000,0.359756,0.359756,0.359756,0.359756,0.000000

In [46]:
doc_id_1 = 7
doc_id_2 = 9

def Cosine_simalrty(v1,v2):
    return dot(v1,v2)

Cosine_simalrty(doc_id_1,doc_id_2)

63

In [47]:
x = [1.0]
y = [0.325248]
dot(x,y)

0.325248

In [48]:
sent = input("Enter Query: ")
matched_docs = get_mathched_docs(sent)
if(matched_docs):
    toknized_sent = word_tokenize(sent.lower()) 

    filtered_sent = []

    for word in toknized_sent:
        if(word not in stop_words):
            filtered_sent.append(word)

    uni_words = list(set(filtered_sent))
    uni_words.sort()
    content = {}
    vector = []
    summation = 0
    for word in uni_words:
        row = []
        #TF
        if(word in uni_words):
            row.append(toknized_sent.count(word))
        else:
            row.append(0)
        #WeTF
        if(row[0] > 0):
            row.append(1+math.log(row[0],10))
        else:
            row.append(0)
        #IDF
        row.append(IDF_matrix[word][1])
        #TF_IDF
        row.append(row[1]*row[2])
        #sum_length
        summation += math.pow(row[3],2)
        content[word] = row

    #length
    length = math.sqrt(summation)
    for word in content:
        norm = content[word][3]/length
        content[word].append(norm)
        vector.append(norm)

    content_table = pd.DataFrame(content.values(),columns=["TF","Weighted_TF","IDF","TF_IDF","Norm_TF_IDF"] , index=content.keys())
    display(content_table)

    print("query length: ",length,"\n")

    #cosine_simlarity
    
    cosine_sim = {}
    for doc_id in matched_docs:
        doc_vector = []
        for word in content:
            doc_vector.append(vector_form_for_docs[doc_id][uniqe_words.index(word)])
        cosine_sim[doc_id] = Cosine_simalrty(vector,doc_vector)
        
    
    Ranked_docs = sorted(cosine_sim.items(),key=lambda x:x[1] , reverse = True)
    Ranked_docs = dict(Ranked_docs)
    
    for doc in cosine_sim:
        print("cosine simlarity ( q ,",str(doc)+".txt) :",cosine_sim[doc])
        
    print("\n matched docs: ", list(Ranked_docs.keys()))
else:
    print("Not Found")

Enter Query: antony brutus

        TF  Weighted_TF       IDF    TF_IDF  Norm_TF_IDF
antony   1          1.0  0.522879  0.522879     0.707107
brutus   1          1.0  0.522879  0.522879     0.707107

query length:  0.7394622130520805

cosine simlarity ( q , 1.txt) : 0.5383927937463102
cosine simlarity ( q , 2.txt) : 0.5778771030041435

 matched docs:  [2, 1]

In [ ]:
y = {1 : 100, 2 : 80, 3: 40 , 4 : 60 }
x = sorted(y.items(), key=lambda x:x[1] , reverse = True)
x_dict = dict(x)
print(y)
x_dict

In [ ]:
antony brutus